@import "tailwindcss";

html, body, #root {
  height: 100%;
  overflow: hidden;
}

/* Hide scrollbars but keep scrolling */
.scrollbar-hidden {
  scrollbar-width: none;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
